<%= label :text, :name, 'Name: ' %>
<h3>
  <%= @project.name %><br>
  <%= label :text, :material, 'Material: ' %>
  <%= @project.material %><br>
  <%= label :text, :challenge_theme, 'Challenege Theme: ' %>
  <%= @project.challenge.theme %>
</h3>
