<%= label :text, :name, 'Name: ' %>
<h3>
  <%= @project.name %><br>
  <%= label :text, :material, 'Material: ' %>
  <%= @project.material %><br>
  <%= label :text, :challenge_theme, 'Challenege Theme: ' %>
  <%= @project.challenge.theme %><br>
  <%= label :text, :number_of_contestants, 'Number of Contestants: ' %>
  <%= @project.contestant_count %>

</h3>
