<h1>Project Name: <%= @project.name %> </h1>
  <p>
    <b>Material:</b> <%= @project.material %><br>
    <b>Challenge Theme:</b> <%= @project.challenge_theme %><br>
    <b>Number of Contestants:</b> <%= @project.contestant_count %><br>
    <b>Average Contestant Experience:</b> <%= @project.avg_contestant_experience %> years<br>
  </p>

<h2>Add A Contestant To This Project</h2>
<%= form_with url: "/projects/#{@project.id}", local: true, method: :post do |form| %>
<%= form.label "Contestant id:" %>
<%= form.text_field :contestant_id %>
<%= form.button "Add Contestant To Project" %>
<% end %>