<h1>Project Page</h1>
<br>
<p>Project name: <%= @project.name %></p>
<p>Project name: <%= @project.material %></p>
<p>Project name: <%= @project.challenge.theme %></p>
<p>Number of Contestants: <%= @project.contestant_count%>
<p>Average Contestant Experience: <%= @project.avg_yrs_experience%> years.</p>
