<h1><%= @project.name %> Project Details</h1>

<p><strong>Name: </strong><%= @project.name %></p>
<p><strong>Material: </strong><%= @project.material %></p>
<p><strong>Theme: </strong><%= @project_theme %></p>
<p><strong>Number of Contestants: </strong><%= @project.contestant_count %></p>
